@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* Couleurs : Bleu #0065FC Bleu Clair #DEEBFF Gris fond: #F2F2F2*/

*
{
  font-family:"Raleway", sans-serif;
  
}


body
{
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
}

a
{
  color: initial;
  text-decoration: none; 
}

header
{
  height: 7em;
  border: 5px solid transparent;
}


  .headerbar
  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
  

}

.navbar
{
margin: 3em;
border: solid pink; /*RETIRER PAR LA SUITE */
word-spacing: 3em;

}



.headerlink:active, .signup:active
{
 color:#0065FC; 
}

.signup
{
  color:#0065FC;
}

.headerlink:hover
{
  color:#0065FC;
}



#title
{
  display:flex;
  flex-direction: column;
  line-height: 0.1em;

  
}

#searchform
{
  display: inline-flex;
  margin-top: 1em;
  border: solid red;
  

}

.fa-map-marker-alt
{
  background-color: #F2F2F2;
  padding: 0.7em;
  border-radius: 0.7em 0  0 0.7em;
  text-align: center; 
  margin-left: 0.2em;
  
}

#searchbutton
{
  border-radius: 0 0.7em 0.7em 0;
  border-color: transparent;
  background-color: #0065FC;
  color: white;
}

.search_button_text
{
  font-weight: bold;
}

.filters
{
  display: inline-flex;
  margin-top: 1em;
  font-weight: bold; 
}