@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* Couleurs : Bleu #0065FC Bleu Clair #DEEBFF Gris fond: #F2F2F2*/

*
{
  font-family:"Raleway", sans-serif;
  
}


body
{
  font-size: 14px;
  margin: 0 15px 0 15px;
  padding: 0;

}

a
{
  color: initial;
  text-decoration: none; 
}

header
{
  height: 7em;
  border: 5px solid transparent;
}


  .headerbar
  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
  

}

.navbar
{
margin: 3em;
border: solid pink; /*RETIRER PAR LA SUITE */
word-spacing: 3em;

}



.headerlink:active, .signup:active
{
 color:#0065FC; 
}

.signup
{
  color:#0065FC;
}

.headerlink:hover
{
  color:#0065FC;
}



#title
{
  display:flex;
  flex-direction: column;
  line-height: 0.1em;

  
}

#searchform
{
  display: inline-flex;
  margin-top: 1em;
}

.searchbar
{
  border: solid 0.1px #F2F2F2;
}

.fa-map-marker-alt
{
  background-color: #F2F2F2;
  padding: 0.7em;
  border-radius: 0.7em 0  0 0.7em;
  text-align: center; 
  margin-left: 0.2em;
  
}

#searchbutton
{
  border-radius: 0 0.7em 0.7em 0;
  border-color: transparent;
  background-color: #0065FC;
  color: white;
}

.search_button_text
{
  font-weight: bold;
}

#filters_block
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;

}

#FiltersTitle
{
  display: inline-flex;
  margin-right: 1em;
  margin-top: 0.5em;
}

.filters
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border: solid 3px #F2F2F2;
  border-radius: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0 3em 0 0;  
}

.filtersection
{
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  border-radius: 2em;
  background-color: #DEEBFF;
  justify-content: center;
  margin: -0.2em;
  


}

.filtericon
{
  color: blue;
}


.searchresult
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1em;
  

}

.searchresulticon
{
  display: flex;
  border: solid 1px #F2F2F2;
  border-radius: 100%;
  margin-right: 1em;
  height: 1.5em;
  width: 1.5em;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.resulticon
{
  Color: blue;

}


/*HEBERGEMENTS*/

#hosting
{
  display: flex;
  justify-content: center;
  

}

.leftcaptiontitle, .leftcaptiondescription, .popcaptiondescription, .popcaptiontitle
{
  font-size: 0.7em;
}
#hostingleftheader
{
  grid-column: 1/-1;
  margin-left: 15px;
  margin-bottom: -60px;
  justify-content:center;
  align-items: center;
}


#hostingleft
{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr ;
  background-color: #F2F2F2;  
  border-radius: 15px;
  padding-left: 15px;
  width: 66%;
  margin-right: auto;
  justify-content: center;
  align-items: auto;
}

.leftcardfigure
{
  display: block;
  margin-top: 0.2em
}

.hostingleftcard
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  width: 240px;
  height: 200px;
  background-color: #FFFFFF;
  border: solid white;
  

  border-radius: 15px;
 

}



/* COMPORTEMENT IMG */

.hostingleftimg
{
  width: 235px;
  height: 113px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  
}

.leftviewmore
{
  font-weight: bold;
  margin: 15px;
  padding: 15px;
  font-weight:16px;

}

/*aside*/
.populartitle
{
  
  margin-left: 15px;
  justify-content:center;
  align-items: center;
}

.popular
{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;  
  border-radius: 15px;
  padding-right: 15px;
  width: 30%;
  justify-content: center;
  align-items: center;
 
}

.popularcard
{
  display: flex;
  border-radius: 15px;
  margin: 15px;
  width: 400px;
  height: 144px;
  background-color: #FFFFFF;
  border: solid white;
  align-items: center;
  
 }

 .popularfigcaption
 {
   display: flex;
   flex-direction: column;
   justify-content: ;
 }

 .popularcardfigure
 {
  display: flex;
  margin: auto;
  padding: auto;
  justify-content: center;
  align-items: center;
  
 }





.popularimg
{
  width: 140px;
  height: 140px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  
}

/*SYSTEME DE NOTATION*/

.blue_star
{
  color: #0065FC;
}

.grey_star
{
  color:#F2F2F2
}





