@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* Couleurs : Bleu #0065FC Bleu Clair #DEEBFF Gris fond: #F2F2F2*/

*
{
  font-family:"Raleway", sans-serif;
  
}


body
{
  font-size: 14px;
  margin-left: 1em;
  padding: 0;
  width: 100%;
}

a
{
  color: initial;
  text-decoration: none; 
}

header
{
  height: 7em;
  border: 5px solid transparent;
}


  .headerbar
  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.2em;
  padding-right: 0.2em;
  

}

.navbar
{
margin: 3em;
border: solid pink; /*RETIRER PAR LA SUITE */
word-spacing: 3em;

}



.headerlink:active, .signup:active
{
 color:#0065FC; 
}

.signup
{
  color:#0065FC;
}

.headerlink:hover
{
  color:#0065FC;
}



#title
{
  display:flex;
  flex-direction: column;
  line-height: 0.1em;

  
}

#searchform
{
  display: inline-flex;
  margin-top: 1em;
  border: solid red;
  

}

.fa-map-marker-alt
{
  background-color: #F2F2F2;
  padding: 0.7em;
  border-radius: 0.7em 0  0 0.7em;
  text-align: center; 
  margin-left: 0.2em;
  
}

#searchbutton
{
  border-radius: 0 0.7em 0.7em 0;
  border-color: transparent;
  background-color: #0065FC;
  color: white;
}

.search_button_text
{
  font-weight: bold;
}

#filters_block
{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;

}

#FiltersTitle
{
  display: inline-flex;
  margin-right: 1em;
  margin-top: 0.5em;
}

.filters
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border: solid 3px #F2F2F2;
  border-radius: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0 3em 0 0;  
}

.filtersection
{
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  border-radius: 2em;
  background-color: #DEEBFF;
  justify-content: center;
  margin: -0.2em;
  


}

.filtericon
{
  color: blue;
}


.searchresult
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 1em;
  

}

.searchresulticon
{
  display: flex;
  border: solid 1px #F2F2F2;
  border-radius: 100%;
  margin-right: 1em;
  height: 1.5em;
  width: 1.5em;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.resulticon
{
  Color: blue;

}



/*SYSTEME DE NOTATION*/

.blue_star
{
  color: #0065FC;
}

.grey_star
{
  color:#F2F2F2
}






